<div class="mes-favoris">Mes favoris</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Spécialités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Restaurants</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @favorites_spe.each do |favorite|%>
      <div class="card-category1"  style="background-image: url('<%= cl_image_path favorite.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="specialty-name"><%= link_to favorite.name, specialty_path(favorite), class: 'card-link' %>
        </div>
        <i class="far fa-heart favorites <%= current_user.favorited?(favorite) ? "liked" : "" %>" data-id="<%= favorite.id %>"></i>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @favorites_rest.each do |favorite|%>
      <div class="card-category1"  style="background-image: url('<%= cl_image_path favorite.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="specialty-name"> <%= favorite.name %>
        </div>
        <i class="far fa-heart favorites2 <%= current_user.favorited?(favorite) ? "liked" : "" %>" data-id="<%= favorite.id %>"></i>
      </div>
    <% end %>
  </div>

</div>







<%= render 'shared/navbar-heart' %>
