<h1>All specialties</h1>









<%= render 'shared/search' %>


<%= render 'shared/navbar' %>
<%= render 'shared/menuburger' %>

<div class="container">
  <div class="box">
  <% @specialties.each do |specialty| %>

    <div class="card-category" style="background-image: url('<%= cl_image_path specialty.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="specialty-name"><%= link_to specialty.name, specialty_path(specialty) %>
      </div>
      <a href="#"><i class="far fa-heart favorites"></i></a>
    </div>

  <% end %>
  </div>



</div>
