<h1>All specialties</h1>






<%= render 'shared/navbar' %>

<% @specialties.each do |specialty| %>
<div class="container">
  <div class="row m-0">
    <div class="col-5 p-0">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.cuisineaz.com/240x192/i119038-.jpeg)">
        <div class="specialty-name"><%= link_to specialty.name, specialty_path(specialty) %></div>
        <a href="#"><i class="far fa-heart favorites"></i></a>
      </div>
    </div>
    <div class="col-5 p-0">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.cuisineaz.com/240x192/i119038-.jpeg)">
        <div class="specialty-name"><%= link_to specialty.name, specialty_path(specialty) %></div>
        <a href="#"><i class="far fa-heart favorites"></i></a>
      </div>
    </div>
  </div>
</div>
<% end %>




<div id="wrap">
  <header class="header">
    <nav class="nav">
      <a href="#wrap" id="open">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34px" height="27px" viewBox="0 0 34 27" enable-background="new 0 0 34 27" xml:space="preserve">
<rect fill="#FFFFFF" width="34" height="4"/>
<rect y="11" fill="#FFFFFF" width="34" height="4"/>
<rect y="23" fill="#FFFFFF" width="34" height="4"/>
</svg>
      </a>
      <a href="#" id="close">×</a>
      <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
        <%= f.input :categories, label: "Category",  collection: $categories, as: :check_boxes %>
        <%= f.input :timetoeats, label: "Time to eat", collection: $timetoeats, as: :check_boxes %>
        <%= f.submit "Search", class: "btn btn-primary" %>
        <%= link_to "Reset", root_path  %>
      <% end %>
    </nav>
  </header>
  <main class="main">
    <!-- <h1>Helvetica</h1>
    <p>Helvetica est une police de caractères linéale sans empattement (en anglais, sans serif) créée en 1957 par Max Miedinger qui l'a dessinée dans un objectif précis : atteindre l'harmonie optique la plus aboutie possible. Symbole de la typographie suisse,
      cette police d'une grande lisibilité avec son tracé d'une grande neutralité lui permet de se prêter à tous les usages, si bien qu'elle demeure une des polices les plus utilisées dans le monde et jouit de la faveur des graphistes et typographes.</p>
    <h1>Times New Roman</h1>
    <p>Times New Roman est une police de caractère avec empattement connue et répandue, faisant partie de la famille des réales. Elle est apparue en 1931 dans le journal londonien The Times (police Times), pour lequel elle a été dessinée par Victor Lardent
      (en) sous la direction de Stanley Morison (Monotype). Bien qu'elle ne soit plus utilisée par le journal, cette police est toujours très utilisée dans les livres.</p>

    <h1>Franklin Gothic</h1>

    <p>Franklin Gothic est une police d’écriture sans serif réaliste dessinée par Morris Fuller Benton en 1902 pour l’American Type Founders. Elle est complétée au fil des années en une famille de polices de caractères large et polyvalente.</p> -->

  </main>
</div>
