<div class="container">
  <div class= "margintotal"
    <strong><h1>Lieu actuel &nbsp;<div class="black-title">|</div><div class="grey-title">&nbsp;OSAKA, Japon </div></h1></strong>
    <%= render 'shared/search' %>
    <%= render 'shared/menuburger' %>
		<%= link_to specialty_path(Specialty.first.id), class:"a-big-card" do %>
    <div class="big-card">
		<%= cl_image_tag(Specialty.first.photo) %>
      <h2 class="suggestion" >Suggestion</h2>
      <div class="big-card-infos">
        <div class= "streamer">
        </div>
        <div>
          <p>Okonomiyaki</p>
        </div>
      </div>
    </div>
		<% end %>
    <div class="une">À la une... </div>
    <div class="box">
      <% @specialties.each do |specialty| %>
      <div class="card-category" style="background-image: url('<%= cl_image_path specialty.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="specialty-name"><%= link_to specialty.name, specialty_path(specialty), class: 'card-link' %>
        </div>
        <i class="far fa-heart favorites <%= current_user.favorited?(specialty) ? "liked" : "" %>" data-id="<%= specialty.id %>"></i>
      </div>
      <% end %>
    </div >
  </div>
</div>
    <%= render 'shared/navbar-search' %>
