<div class="cardcategorycard" style="background-image: url('<%= cl_image_path @specialty.photo, height: 300, width: 400, crop: :fit %>')">
  <div>
    <%= link_to specialties_path do %>
    <i class="fas fa-arrow-left float-left-sugar"></i>
    <% end %>
    <i class="far fa-heart favorites <%= current_user.favorited?(@specialty) ? "liked" : "" %>" data-id="<%= @specialty.id %>"></i>
    <div class="sharecard">
      <i class="fas fa-share share-show"></i>
    </div>
  </div>
</div>

<div>


<div class='title'>
  <h2><%= @specialty.name%></h2>
</div>
<i class="fas fa-utensils forkandknife"></i>

<div class="points"><span class="tagadastyle">
<%=@specialty.point%></span>
<div class="tagadastyle2">trott'points</div>
</div>

<div class="description">
<%= @specialty.description %>
</div>
</div>
<div class="btn food">
  <%= link_to specialty_restaurants_path(@specialty) do %>
  <button type="button" class="btn btn-success" style="border-radius: 10px; color: white; background-color: #1BA67F">Food trottons !</button>
  <% end %>
</div>
<%= render 'shared/navbar' %>
