<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="container">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="counter-up">
            <div class="avatar"><%= render 'shared/avatar'  %>
            </div>
            <div class="points">
              <div class="counter">
                <div id="shiva"><span class="count"><%= @games.sum{ |game| game.specialty.point } %></span></div>
              </div>
              <button type="button-counter" class="btn btn-success counterbutton " style="border-radius: 50px; font-weight: bold; font-size: 12px; color: white; background-color: #1BA67F">Partager</button>
            </div>
          </div>
          <% @games.each do |game| %>
          <div class="game-container">
            <div class="boxgamebottom">
              <div class="card-game" style="background-image: url('<%=cl_image_path game.specialty.photo, crop: :fit  %>">
              </div>
              <div class="specialtygamedescription">
                <p class=namespecialty><%= game.specialty.name %></p>
                <p class="specialtytext"><%= game.specialty.country%> <%= game.specialty.region %><%= game.specialty.city %></p>
              </div>
            </div>
            <div class="pointsgamedescription">
              + <%=game.specialty.point %> pts
            </div>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</div>
