<div class="margingame">
<% @games.each do |game| %>
<div class="game-container">
  <div class="boxgamebottom">
    <div class="card-game" style="background-image: url('<%=cl_image_path game.specialty.photo, crop: :fit  %>">
    </div>
    <div class="specialtygamedescription">
      <p class=namespecialty><%= game.specialty.name %></p>
      <p class="specialtytext"><%= game.specialty.country%> <%= game.specialty.region %> <%= game.specialty.city %></p>
      <div class="pointsgamedescription">
        + <%=game.specialty.point %> pts
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="container">
      <div class="modal-content">
        <div class="modal-header">
          <div class="localisation2">
            Food trotteurs
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <h4 class="modal-title"></h4>
        <div class="modal-body">
          <div class="pointsgame">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/Corentin123", class: "avatar-large", alt: "avatar-large" %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prénoms">Corentin</div>
                <div id="shiva2">3 860 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: white; width: 38px; background-color: #1BA67F">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
          <div class="pointsgame">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/ampgn", class: "avatar-large", alt: "avatar-large" %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prénoms">Annie</div>
                <div id="shiva2">3 020 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: white; width: 38px; background-color: #1BA67F">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
          <div class="pointsgame">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/Geraldinefd", class: "avatar-large", alt: "avatar-large" %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prénoms">Géraldine</div>
                <div id="shiva2">1 440 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: white; width: 38px; background-color: #1BA67F">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
          <div class="pointsgame">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/nandomando", class: "avatar-large", alt: "avatar-large" %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prénoms">Fernando</div>
                <div id="shiva2">870 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: white; width: 38px; background-color: #1BA67F">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
          <div class="pointsgame1">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= render 'shared/avatar'  %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prenoms1">Justine</div>
                <div id="shiva3">560 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs1" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: #1BA67F; width: 38px; background-color: white">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>
          <div class="pointsgame">
            <div class= "row3">
              <div class= "col-4">
                <div class="avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/Romain-htnr", class: "avatar-large", alt: "avatar-large" %>
                </div>
              </div>
              <div class= "col-4">
                <div class= "prénoms">Romain</div>
                <div id="shiva2">420 points
                </div>
              </div>
              <div class= "col-4">
                <div class = "buttongames col-sm-4">
                  <button type="button-gameurs" class="btn btn-success counterbutton " style="border-radius: 50%; font-weight: bold; font-size: 16px; color: white; width: 38px; background-color: #1BA67F">></button>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
          </div>


          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>
